telegram_1.json
[{"id":"6cacce8a.bd531","type":"tab","label":"telegram","disabled":false,"info":""},{"id":"5c92b64d.b53138","type":"chatbot-telegram-node","z":"","botname":"SaludoNR_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"fea429eb.e04bb8","type":"chatbot-telegram-node","z":"","botname":"juntosdesdecasa_bot","usernames":"","polling":"1000","log":""},{"id":"d3d5f417.b4c0e8","type":"chatbot-telegram-node","z":"","botname":"juntosdesdecasa_bot","usernames":"","polling":"1000","log":""},{"id":"73e0ec3.9528114","type":"chatbot-telegram-receive","z":"6cacce8a.bd531","bot":"5c92b64d.b53138","botProduction":"","x":90,"y":60,"wires":[["cf88bc18.7cc74","b3d900c1.17643","5a988cc7.052e44","16390d62.323a33"]]},{"id":"2690260.28d83da","type":"chatbot-telegram-send","z":"6cacce8a.bd531","bot":"5c92b64d.b53138","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":970,"y":260,"wires":[]},{"id":"c1c7f7a4.489aa8","type":"chatbot-message","z":"6cacce8a.bd531","name":"","message":[{"message":"Hola. \nSoy tu bot de telegram. ☺️"}],"language":"","x":700,"y":100,"wires":[["2690260.28d83da"]]},{"id":"cf88bc18.7cc74","type":"chatbot-command","z":"6cacce8a.bd531","name":"","command":"/hola","x":550,"y":100,"wires":[["c1c7f7a4.489aa8"]]},{"id":"b3d900c1.17643","type":"debug","z":"6cacce8a.bd531","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":60,"wires":[]},{"id":"5a988cc7.052e44","type":"change","z":"6cacce8a.bd531","name":"variables","rules":[{"t":"set","p":"nombre","pt":"flow","to":"originalMessage.from.first_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":160,"wires":[["2994d56a.3b1c3a","db1e6756.0e5a28"]]},{"id":"2994d56a.3b1c3a","type":"chatbot-command","z":"6cacce8a.bd531","name":"","command":"/start","x":550,"y":160,"wires":[["1411d303.ff931d"]]},{"id":"db1e6756.0e5a28","type":"chatbot-command","z":"6cacce8a.bd531","name":"","command":"/help","x":550,"y":200,"wires":[["1411d303.ff931d"]]},{"id":"1411d303.ff931d","type":"chatbot-message","z":"6cacce8a.bd531","name":"","message":[{"message":"Hola {{nombre}}\n\nstart - inicio del bot\nhelp - muestra los comandos\nhola - saluda al bot\nquetal - pregunta al bot que tal está\ntemperatura - temperatura en tu ciudad\nhumedad - humedad en tu ciudad\ntiempo - que tiempo atmosférico hace en tu ciudad\nhora - hora y día\nenciende - enciende un led de un dispositivo conectado\napaga - apaga un led de un dispositivo conectado\nsonido - emite un sonido en un dispositivo conectado\nmensaje - muestra un mensaje en la pantalla de un dispositivo conectado\ntweet - manda un tweet\nmail - manda un email\nfoto - hace una foto y la muestra en telegram"}],"language":"","x":700,"y":180,"wires":[["2690260.28d83da"]]},{"id":"16390d62.323a33","type":"change","z":"6cacce8a.bd531","name":"variables","rules":[{"t":"set","p":"username","pt":"flow","to":"originalMessage.from.username","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":280,"wires":[["ac0b364e.695088","73b91b01.546384"]]},{"id":"ac0b364e.695088","type":"chatbot-command","z":"6cacce8a.bd531","name":"","command":"/hola","x":550,"y":260,"wires":[["74b1e439.f83acc"]]},{"id":"73b91b01.546384","type":"chatbot-command","z":"6cacce8a.bd531","name":"","command":"/quetal","x":550,"y":300,"wires":[["4e98e6d6.58deb8"]]},{"id":"74b1e439.f83acc","type":"chatbot-message","z":"6cacce8a.bd531","name":"","message":[{"message":"Hola {{nombre}} 👏"},{"message":"Saludos {{nombre}}"},{"message":"Recuerda, ¡quédate en casa! :("}],"language":"","x":710,"y":260,"wires":[["2690260.28d83da"]]},{"id":"4e98e6d6.58deb8","type":"chatbot-message","z":"6cacce8a.bd531","name":"","message":[{"message":"Muy bien {{nombre}}, ¿y tú?"},{"message":"Sigo en casa, ya algo estresado..."}],"language":"","x":710,"y":300,"wires":[["2690260.28d83da"]]}]